<h1>Hello, how are you?</h1>

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="{%static 'css/Story6.css' %}"> -->
        <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
        <title>
            Welcome!
        </title>
        <style>
            h1{font-family: 'Adamina';font-size:3vw;text-align: center;top:5%;position: relative;color: black;}
            body{background-image:url('static/img/Story6.jpg');background-size: cover;}
            p{font-size: 2.5vw; color: black;text-align: center;margin-top: 4%;position: relative;size: 2vw;}
            button[type=submit]{font-family: 'Adamina';font-size: 1vw;background-color:transparent;color: black;
                   padding: 10px 10px;text-align: center;text-decoration: none;display: inline-block;top:25%;left:54%;position: absolute;}
            table{font-size: 1.5vw; color: black;text-align: left;left: 37%;top:33%;position: absolute;}
        </style>
    </head>

    <body>
        <form method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <br><br>
            <button type="Submit">Submit</button>
        </form>

        <table>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
            </tr>
            {% for i in YourStatus %}
                <tr>
                   <td>{{ i.status }}</td> 
                   <td>{{ i.date }}</td> 
                </tr>
            {% endfor %} 
        </table>
               
    </body>
</html>